
.HomePageContainer{
    display:flex;
    justify-content: center;
    min-height: 100vh;
    color: #19323C;
    background-color: #A93F55;
    flex-direction:row;
}
.Col{
    flex: 1;
    padding: 10%;
    margin: 5%;
}
.MessageBox{
    background-color: #F3F7F0;
 }
 
.Greating{
    text-align:center;
    font-weight: 300;  
    clear: both;
}
.LinkBox{
    text-align: center;
}
div.LinkBox{
    background-color: #F3F7F0;
    clear: both;
}
h3.LinkBox{
    color: #19323C;
    font-weight: 300;
}
