.container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center;
    background-color: var(--secondary-color-100);
    padding: 50px;
    margin: 0px;
    min-width: 1vw;
}

a.footLink:link, a.footLink:visited{
    color: var(--font-color-500);
}
a.footLink:hover{
    color: var(--primary-color-300);
}