ul.Nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #F3F7F0;
    padding: 25px 25px;
}
li.Nav{
    display: inline-block;
    vertical-align:top;
}


a.Nav:link, a.Nav:visited{
    background-color: var(--secondary-color-100);
    color: var(--primary-color-300);
    text-decoration: none;
    padding: 25px 25px;
    text-align: center;
}

a.Nav:hover, a.Nav:active{
    color: var(--secondary-color-100);
    background-color: var(--primary-color-300);
    text-decoration: underline;
    
}

.Logo{
    width: 25px;
    height: 25px;
    display: inline-block;
    padding: 0px;
    margin: 0px;
    vertical-align:top;
}