
.LinkPageContainer{
    display:flex;
    justify-content: center;
    min-height: 100vh;
    color: var(--font-color-500);
    background-color:var(--primary-color-500);
    flex-direction:row;
}




.LinkBox{
    text-align: center;
}
div.LinkBox{
    background-color: var(--secondary-color-100);
    clear: both;
}
h3.LinkBox{
    color: var(--font-color-500);
    font-weight: 300;
}
